<html>
<body>
<script>
    try {
        var data = {{ response.content|raw }};
    }
    catch (error) {
        var data = {"error": {"code": "error.parse.post_message", "message": "Post message parse error"}};
    }

    top.postMessage(JSON.stringify({
        name: '{{ request.query.get('callback') }}',
        result: data
    }), '{{ origin }}');
</script>
</body>
</html>
