<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="Tests/bootstrap.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTestSize="true"
    beStrictAboutChangesToGlobalState="true">
    <testsuites>
        <testsuite name="MediaMonksRestApiBundle">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="/Tests/Functional/app/" />
        <server name="KERNEL_CLASS" value="MediaMonks\RestApiBundle\Tests\Functional\app\AppKernel" />
    </php>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
